@use '../scss/abstracts';
@use '../scss/base';


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 600px;
    text-align: center;
    gap: 80px;

    img {
        margin-top: 1.8rem;
        width: 30rem;
    }
}

.container_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 3rem;
    padding: 10rem 0 10rem 0;

    img {
        width: 24rem;
    }
}

.container_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 1rem;
    padding: 10rem 0 10rem 0;

    img {
        width: 60rem;
    }
}

.container_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 3rem;
    padding: 5rem 0 5rem 0;

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        img {
            width: 24rem;
        }
    }
}

.container_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 2rem;
    padding: 5rem 0 5rem 0;
    img {
        width: 48rem;
    }
}

.container_5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border-radius: 24px;
    padding: 5rem 0 5rem 0;
    margin: 0 0 5rem 0;
    gap: 3rem;
    background: linear-gradient(98.88deg, #2279F5 -1.44%, #F23343 105.91%), #2D2C2C;
    p{
        font: {
            size: 6rem;
            weight: 600;
        }
    }
}

@media all and (min-width:320px) and (max-width:1024px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 600px;
        text-align: center;
        gap: 80px;

        img {
            margin-top: 1.8rem;
            width: 80vw;
        }
    }

    .container_1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        gap: 3rem;
        padding: 6rem 0 6rem 0;

        img {
            width: 70vw;
        }
    }

    .container_2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        gap: 1rem;
        padding: 10rem 0 10rem 0;

        img {
            width: 70vw;
        }
    }

    .container_3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        gap: 3rem;
        padding: 5rem 0 5rem 0;
        text-align: center;

        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 100vw;
            img {
                width: 45vw;
            }
        }
    }

    .container_4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        gap: 2rem;
        padding: 5rem 0 5rem 0;
        img {
            width: 80vw;
        }
    }

    .container_5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 96vw;
        border-radius: 24px;
        padding: 3rem 0 3rem 0;
        margin: 0 0 5rem 0;
        gap: 2rem;
        background: linear-gradient(98.88deg, #2279F5 -1.44%, #F23343 105.91%), #2D2C2C;
        p{
            font: {
                size: 3rem;
                weight: 600;
            }
        }
    }
}